body {
	margin: 0;
	font-family: 'Grandstander', cursive;
	font-family: 'Work Sans', sans-serif;
}
ul {
	margin: 0;
	padding: 0;
}
* {
	box-sizing: border-box;
}
img {
	max-width: 100%;
}
.clear:after {
	content: "";
	display: block;
	clear: both;
}
.wrapper {
	width: 100%;
	max-width: 1270px;
	margin: 0 auto;
}



/*Блок-1 Контакты*/

.contacts {
  background: #80cd51;
  min-height: 30px;
  position: sticky;
  top: 0;
  z-index: 999;
}
.contact-flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.number {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
  #myBtn1 {
  background-color: #80cd51;
  color: white;
  padding: 12px 16px;
  font-size: 12px;
  font-family: 'Work Sans', sans-serif;
  border: none;
  cursor: pointer;
  width: 180px;
}
  .modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}


.modal-content1 {
  text-align: center;
  position: relative;
  background: black;
  margin: auto;
  padding: 0;
  border: 5px solid #80cd51;
  border-radius: 23px;
  width: 30%;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}


@-webkit-keyframes animatetop {
    from {top:-400px; opacity:0} 
    to {top: 0px; opacity:1}
}

@keyframes animatetop {
    from {top:-400px; opacity:0}
    to {top: 0px; opacity:1}
}


.close1 {
    color: black;
    float: right;
    font-size: 28px;
    font-weight: bold;
    background: #80cd51;
    padding: 10px;
}

.close1:hover,
.close1:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
.block__text1 {
  font-size: 24px;
  color: white;
  margin-top: 40px;
  font-family: 'Work Sans', sans-serif;
  font-weight: 300;
}
.contact__item2 {
  border-style: solid;
  border-width: 3px;
  border-color: rgb( 238, 238, 238 );
  margin-top: 30px;
  width: 50%;
  height: 43px;
  z-index: 150;
  margin-bottom: 15px;
  font-family: 'Work Sans', sans-serif;
  font-size: 15px;
}
.button1 {
  background: #80cd51;
  border: 1px solid #80cd51;
  border-radius: 8px;
  color: white;
  cursor: pointer;
  width: 60%;
  height: 43px;
  font-size: 20px;
}
.button1:hover {
  background: white;
  color: #80cd51;
  border: 1px solid #80cd51;
  transition: 0.4s;
}
.call1 {
  font-size: 30px;
  color: #80cd51;
  margin-left: 36px;
  margin-top: 15px; 
  margin-bottom: 15px;
}
.timer2342 {
  height: 45px;
}
.span22 {
  color: white;
  margin-bottom: 30px;
  font-size: 40px;
  padding: 5px;
  font-weight: 300;
  font-family: 'Work Sans', sans-serif;
}
#sec {
  position: fixed;
  margin-left: -60px;
}
#msec {
  position: fixed;
  margin-left: 10px;
}
.bottom__text {
  font-size: 16px;
  color: white;
  font-family: 'Work Sans', sans-serif;
  font-weight: 300;
}
.gmail {
  font-size: 12px;
  font-family: 'Work Sans', sans-serif;
  color: white;
  padding-left: 15px;
  padding-right: 15px;
}
.contact__text {
  font-size: 12px;
  font-family: 'Work Sans', sans-serif;;
  color: white;
  padding-left: 15px;
  padding-right: 15px;
}
#myBtn {
  background-color: #80cd51;
  color: white;
  padding: 12px 16px;
  font-size: 12px;
  font-family: 'Work Sans', sans-serif;
  border: none;
  cursor: pointer;
  width: 180px;
}


.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}


.modal-content {
  text-align: center;
  position: relative;
  background-image: url(https://image.freepik.com/free-photo/colorful-fruits-and-vegetables-on-plank-background_3236-674.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin: auto;
  padding: 0;
  border: 5px solid #80cd51;
  width: 50%;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}


@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}


.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
    background: #80cd51;
    padding: 10px;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
.block2 {
  background: gray;
  border: 5px solid blue;
  width: 515px;
  height: 520px;
  text-align: center;
  margin-top: 30px;
  position: absolute;
  z-index: 99999999;
}
.block__text {
  font-size: 30px;
  color: white;
  margin-top: 80px;
}
.contact__item1 {
  border-style: solid;
  border-width: 3px;
  border-color: rgb( 238, 238, 238 );
  background-color: #80cd51;
  margin-top: 30px;
  width: 55%;
  height: 43px;
  z-index: 150;
  margin-bottom: 15px;
  font-family: 'Work Sans', sans-serif;
  font-size: 15px;
}
.button {
  margin-top: 50px;
  margin-bottom: 60px;
  background: #80cd51;
  border: 1px solid #80cd51;
  cursor: pointer;
  width: 50%;
  height: 43px;
  font-size: 20px;
}
.button:hover {
  background: white;
  color: #80cd51;
  border: 1px solid #80cd51;
  transition: 0.4s;
}


/*Блок-2 Хедер*/

.header {
	background: white;
  position: sticky;
  top: 38px;
  z-index: 99;
}
.header-flex {
	display: flex;
	flex-direction: row;
  flex-wrap: wrap;
	justify-content: space-between;
}
.header-flex1 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.header-flex2 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
ul#dropdownmenu {
  display: inline-block;
  list-style: none;
  margin: 18px auto;
  padding: 10px;
}
ul#dropdownmenu > li { 
  display: inline-block; 
  position: relative;
  margin-left: 10px;
  padding: 5px 20px;
}
ul#dropdownmenu > li:first-child {
  margin-left: 0px;
}
ul#dropdownmenu li a { 
  display: block;
  color: black;
  font-size: 16px;
  background-image: linear-gradient(currentColor, currentColor);
  background-position: 50% 100%;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  transition: background-size .8s;
  font-weight: 400;
  text-decoration: none;
  padding-bottom: 3px;
  padding-top: 3px;
  z-index: 1;
  position: relative;
}
ul#dropdownmenu ul { 
  display: none; 
  position: absolute;
  top: 90%;
  right: -25%;
  list-style: none;
  background: #e3e3e3;
  width: 9em;
  padding: 10px;
  z-index: 9999;
  border-radius: 5px;
}
ul#dropdownmenu > li a:hover {
  color: #80cd51;
   text-decoration: none;
   background-size: 100% 2px;
   transition: all 400ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
}
ul#dropdownmenu > li:hover ul { 
  display: block; 
  text-align: center;
  background: #80cd51;
  transition: all 400ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
}
ul#dropdownmenu > li:hover ul li a { 
  color: white;
  padding: 10px;
  font-size: 16px;
  font-weight: 400;
  transition: all 400ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
}
ul#dropdownmenu > li:hover ul li a:hover { 
  color: black;
  transition: all 400ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
}
.logoimg {
	max-width: 120px;
	margin-top: 10px;
	margin-bottom: 10px;
}
.header__nav {
	padding-top: 34px;
}
.block {
  padding-left: 15px;
  padding-right: 15px;
}
nav{ 
    color: #fff;
    text-align: center;
}
.btnmenu {
  color: black;
  text-align: center;

}
nav li{
    display: inline-block;
    vertical-align: top;
}

input[type="checkbox"] {
    display: none;
}
nav label {    
    display: none;
    border: 1px solid #fff;   
    padding: 5px 10px;
    cursor: pointer;
    transition: 0.3s;
    margin: 29px 50px;
}
nav label:hover{
    color: #60ad30;
    border: 1px solid #60ad30;
}


@media screen and (max-width: 768px) {
    input[type="checkbox"]:checked ~ label.btnmenu {
    }
}
@media screen and (max-width: 790px) {
    
    nav label{
         display: inline-block;
    }
    nav > ul#dropdownmenu {
        display: none;
    }
    input[type="checkbox"]:checked ~ label.btnmenu + ul#dropdownmenu {
        display: block;
        margin: 5px;
    }
    
}
@media screen and (width: 320px) {
  .logoimg {
    margin-left: 80px;
  }
  .btnmenu {
    margin-left: 113px;
  }
  #myBtn {
    width: 150px;
  }
  .btnmenu {
    margin-right: 122px;
  }
}



/*Блок-3 Приветствие*/

.greeting {
	background-image: url(https://bm.img.com.ua/berlin/storage/finance/orig/f/f3/679e3fe06c8a4bbfda47d1321ddd3f3f.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	height: 400px;
	text-align: center;
}
.greeting-flex {
	display: flex;
	flex-direction: column;
  flex-wrap: wrap;
	justify-content: center;
}
.greeting__head {
	font-size: 50px;
	font-weight: 300;
	color: white;
	font-family: 'Grandstander', cursive;
	margin-top: 150px;
}
.greeting__text {
	font-size: 20px;
	font-weight: 400;
	color: white;
}
.greeting__link {
	font-size: 16px;
	font-weight: 400;
	display: block;
	text-decoration: none;
	max-width: 155px;
	color: white;
  border: 1px solid #80cd51;
	background: #80cd51;
	padding: 10px 15px;
	border-radius: 35px;
	margin: 0 auto;
	margin-top: 60px;
}
.greeting__link:hover {
  background: white;
  color: #80cd51;
  border: 1px solid #80cd51;
  transition: .3s;
}
.animation-target {
  -webkit-animation: animation 1000ms linear both;
  animation: animation 1000ms linear both;
}

/* Generated with Bounce.js. Edit at http://bouncejs.com#%7Bs%3A%5B%7BT%3A%22c%22%2Ce%3A%22b%22%2Cd%3A1000%2CD%3A0%2Cf%3A%7Bx%3A1%2Cy%3A1%7D%2Ct%3A%7Bx%3A0.5%2Cy%3A0.5%7D%2Cs%3A1%2Cb%3A4%7D%2C%7BT%3A%22c%22%2Ce%3A%22b%22%2Cd%3A1000%2CD%3A0%2Cf%3A%7Bx%3A1%2Cy%3A1%7D%2Ct%3A%7Bx%3A2%2Cy%3A2%7D%2Cs%3A1%2Cb%3A6%7D%5D%7D */

@-webkit-keyframes animation { 
  0% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  3.4% { -webkit-transform: matrix3d(1.185, 0, 0, 0, 0, 1.185, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.185, 0, 0, 0, 0, 1.185, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  4.7% { -webkit-transform: matrix3d(1.24, 0, 0, 0, 0, 1.24, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.24, 0, 0, 0, 0, 1.24, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  6.81% { -webkit-transform: matrix3d(1.269, 0, 0, 0, 0, 1.269, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.269, 0, 0, 0, 0, 1.269, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  9.41% { -webkit-transform: matrix3d(1.21, 0, 0, 0, 0, 1.21, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.21, 0, 0, 0, 0, 1.21, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  10.21% { -webkit-transform: matrix3d(1.178, 0, 0, 0, 0, 1.178, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.178, 0, 0, 0, 0, 1.178, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  13.61% { -webkit-transform: matrix3d(1.023, 0, 0, 0, 0, 1.023, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.023, 0, 0, 0, 0, 1.023, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  14.11% { -webkit-transform: matrix3d(1.001, 0, 0, 0, 0, 1.001, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.001, 0, 0, 0, 0, 1.001, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  17.52% { -webkit-transform: matrix3d(0.887, 0, 0, 0, 0, 0.887, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.887, 0, 0, 0, 0, 0.887, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  18.72% { -webkit-transform: matrix3d(0.862, 0, 0, 0, 0, 0.862, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.862, 0, 0, 0, 0, 0.862, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  21.32% { -webkit-transform: matrix3d(0.832, 0, 0, 0, 0, 0.832, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.832, 0, 0, 0, 0, 0.832, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  24.32% { -webkit-transform: matrix3d(0.833, 0, 0, 0, 0, 0.833, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.833, 0, 0, 0, 0, 0.833, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  25.23% { -webkit-transform: matrix3d(0.839, 0, 0, 0, 0, 0.839, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.839, 0, 0, 0, 0, 0.839, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  29.03% { -webkit-transform: matrix3d(0.889, 0, 0, 0, 0, 0.889, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.889, 0, 0, 0, 0, 0.889, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  29.93% { -webkit-transform: matrix3d(0.904, 0, 0, 0, 0, 0.904, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.904, 0, 0, 0, 0, 0.904, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  35.54% { -webkit-transform: matrix3d(1.001, 0, 0, 0, 0, 1.001, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.001, 0, 0, 0, 0, 1.001, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  36.74% { -webkit-transform: matrix3d(1.017, 0, 0, 0, 0, 1.017, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.017, 0, 0, 0, 0, 1.017, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  41.04% { -webkit-transform: matrix3d(1.051, 0, 0, 0, 0, 1.051, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.051, 0, 0, 0, 0, 1.051, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  44.44% { -webkit-transform: matrix3d(1.051, 0, 0, 0, 0, 1.051, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.051, 0, 0, 0, 0, 1.051, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  52.15% { -webkit-transform: matrix3d(1.012, 0, 0, 0, 0, 1.012, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.012, 0, 0, 0, 0, 1.012, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  59.86% { -webkit-transform: matrix3d(0.989, 0, 0, 0, 0, 0.989, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.989, 0, 0, 0, 0, 0.989, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  63.26% { -webkit-transform: matrix3d(0.989, 0, 0, 0, 0, 0.989, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.989, 0, 0, 0, 0, 0.989, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  75.28% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  85.49% { -webkit-transform: matrix3d(1.001, 0, 0, 0, 0, 1.001, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.001, 0, 0, 0, 0, 1.001, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  90.69% { -webkit-transform: matrix3d(1.001, 0, 0, 0, 0, 1.001, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.001, 0, 0, 0, 0, 1.001, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  100% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); } 
}

@keyframes animation { 
  0% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  3.4% { -webkit-transform: matrix3d(1.185, 0, 0, 0, 0, 1.185, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.185, 0, 0, 0, 0, 1.185, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  4.7% { -webkit-transform: matrix3d(1.24, 0, 0, 0, 0, 1.24, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.24, 0, 0, 0, 0, 1.24, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  6.81% { -webkit-transform: matrix3d(1.269, 0, 0, 0, 0, 1.269, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.269, 0, 0, 0, 0, 1.269, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  9.41% { -webkit-transform: matrix3d(1.21, 0, 0, 0, 0, 1.21, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.21, 0, 0, 0, 0, 1.21, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  10.21% { -webkit-transform: matrix3d(1.178, 0, 0, 0, 0, 1.178, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.178, 0, 0, 0, 0, 1.178, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  13.61% { -webkit-transform: matrix3d(1.023, 0, 0, 0, 0, 1.023, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.023, 0, 0, 0, 0, 1.023, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  14.11% { -webkit-transform: matrix3d(1.001, 0, 0, 0, 0, 1.001, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.001, 0, 0, 0, 0, 1.001, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  17.52% { -webkit-transform: matrix3d(0.887, 0, 0, 0, 0, 0.887, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.887, 0, 0, 0, 0, 0.887, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  18.72% { -webkit-transform: matrix3d(0.862, 0, 0, 0, 0, 0.862, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.862, 0, 0, 0, 0, 0.862, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  21.32% { -webkit-transform: matrix3d(0.832, 0, 0, 0, 0, 0.832, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.832, 0, 0, 0, 0, 0.832, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  24.32% { -webkit-transform: matrix3d(0.833, 0, 0, 0, 0, 0.833, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.833, 0, 0, 0, 0, 0.833, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  25.23% { -webkit-transform: matrix3d(0.839, 0, 0, 0, 0, 0.839, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.839, 0, 0, 0, 0, 0.839, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  29.03% { -webkit-transform: matrix3d(0.889, 0, 0, 0, 0, 0.889, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.889, 0, 0, 0, 0, 0.889, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  29.93% { -webkit-transform: matrix3d(0.904, 0, 0, 0, 0, 0.904, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.904, 0, 0, 0, 0, 0.904, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  35.54% { -webkit-transform: matrix3d(1.001, 0, 0, 0, 0, 1.001, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.001, 0, 0, 0, 0, 1.001, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  36.74% { -webkit-transform: matrix3d(1.017, 0, 0, 0, 0, 1.017, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.017, 0, 0, 0, 0, 1.017, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  41.04% { -webkit-transform: matrix3d(1.051, 0, 0, 0, 0, 1.051, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.051, 0, 0, 0, 0, 1.051, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  44.44% { -webkit-transform: matrix3d(1.051, 0, 0, 0, 0, 1.051, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.051, 0, 0, 0, 0, 1.051, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  52.15% { -webkit-transform: matrix3d(1.012, 0, 0, 0, 0, 1.012, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.012, 0, 0, 0, 0, 1.012, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  59.86% { -webkit-transform: matrix3d(0.989, 0, 0, 0, 0, 0.989, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.989, 0, 0, 0, 0, 0.989, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  63.26% { -webkit-transform: matrix3d(0.989, 0, 0, 0, 0, 0.989, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.989, 0, 0, 0, 0, 0.989, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  75.28% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  85.49% { -webkit-transform: matrix3d(1.001, 0, 0, 0, 0, 1.001, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.001, 0, 0, 0, 0, 1.001, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  90.69% { -webkit-transform: matrix3d(1.001, 0, 0, 0, 0, 1.001, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.001, 0, 0, 0, 0, 1.001, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  100% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); } 
}
@media screen and (width: 375px) {
  .greeting__head {
    font-size: 37px;
  }
}
@media screen and (width: 320px) {
  .greeting__head {
    font-size: 35px;
  }
}




/*Блок-5 Корзина*/

.cart {
  min-height: 700px;
}
.cart-flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.description {
  background: #80cd51;
  margin-top: 50px;
}
.des-flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
}
.des__text {
  color: white;
  font-size: 18px;
  padding: 12px 86px;
  font-family: 'Work Sans', sans-serif;
  font-weight: 400; 
}
.products {
  margin: 20px 0;
  min-height: 120px;
  border-bottom: 1px solid #80cd51;
}
.prod-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.close123 {
  margin: 68px 10px;
  color: black;
  padding: 5px;
  background: white;
  border: 1px solid #80cd51;
}
.close123:hover {
  color: white;
  background: #80cd51;
  transition: 0.4s
}
.prod__img {
  width: 160px;
  height: 160px;
}
.prod__text {
  width: 160px;
  color: black;
  font-size: 20px;
  font-family: 'Work Sans', sans-serif;
  font-weight: 500;
  margin-top: 70px;
}
.quantity {
  text-align: center;
  margin: 50px 10px;
  padding: 20px 40px;
  border: 1px solid #919191;
  font-family: 'Work Sans', sans-serif;
  font-weight: 300;
  font-size: 18px;
}
.price {
  color: black;
  font-family: 'Work Sans', sans-serif;
  font-weight: 300;
  font-size: 18px;
  margin-top: 70px;
}
.total {
  font-size: 18px;
  color: black;
  font-family: 'Work Sans', sans-serif;
  font-weight: 400;
  margin-top: 70px;
  margin-right: 40px;
}

















































/*Блок-6 Подписка*/

.subscribe {
  min-height: 320px;
  background: #f7f6f2; 
}
.subscribe-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}
.subscribe-flex1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.subscribe__head {
  font-size: 30px;
  font-family: 'Work Sans', sans-serif;
  padding-top: 40px;
}
.subscribe__text {
  font-size: 20px;
  font-family: 'Work Sans', sans-serif;
  color: gray;
}
.subscribe__mail-item {
  border-radius: 5px;
  border: 1px solid #80cd51;
  background-color: rgb( 255, 255, 255 );
  width: 34vw;
  height: 53px;
  margin-top: 140px;
}
.button3 {
  height: 53px;
  border-radius: 5px;
  background: #80cd51;
  border: 1px solid #80cd51;
  cursor: pointer;
  color: white;
  font-size: 16px;
  font-family: 'Work Sans', sans-serif;
}
.button3:hover {
  background: #f7f6f2;
  color: #80cd51;
  transition: 0.4s;
}



/*Блок-7 Футер*/

.footer {
  min-height: 450px;
}
.footer-flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.footer__item {
  max-width: 300px;
  margin: 30px;
  min-height: 430px;
}
.footer-flex1 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.footer__item-text {
  color: black;
  font-family: 'Work Sans' , sans-serif;
  font-weight: 600;
  font-size: 20px;
  padding-bottom: 30px;
  padding-top: 100px;
}
.footer__text {
  font-size: 16px;
  font-weight: 400;
  color: black;
}
.footer__link {
  text-decoration: none;
  color: black;
  font-size: 16px;
  background-image: linear-gradient(currentColor, currentColor);
  background-position: 50% 100%;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  transition: background-size .8s;
  font-weight: 400;
  text-decoration: none;
  padding-bottom: 3px;
  padding-top: 3px;
  z-index: 1;
  position: relative;
  margin-top: 20px;
}
.footer__link:hover {
  text-decoration: none;
  color: black;
  color: black;
  text-decoration: none;
  background-size: 100% 2px;
  transition: all 400ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
}
.upbutton123 {
  text-align: center;
}
#upbutton {
  text-align: center;
}
a#upbutton img {
  max-width: 8%;
}



/*Блок-8 Копирайтер*/

.copyright {
  min-height: 40px;
  background: #383838;
  text-align: center;
}
.copyright__text {
  color: white;
  font-size: 16px;
  font-weight: 400;
  font-family: 'Work Sans' , sans-serif;
  padding-top: 12px;
}
  .window{
  position: fixed;
  bottom: 0;
  right: 0;
  height: 280px;
  width: 0px;
  background: transparent;
  transition: 0.7s ease;
  opacity: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  overflow: hidden;
  z-index: 999;
  visibility: hidden;
}
.window__active{
  bottom: 0;
  width: 330px;
  opacity: 1;
  visibility: visible;
}
.window__top{
  width: 330px;
  height: 155px;
  padding: 10px;
}
.window_top_text{
  margin: 0;
  font-size: 17px;
  font-weight: 500;
  color: black;
}
.window__button{
  width: 140px;
  height: 30px;
  background: #80cd51;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-top: 12px;
}
.window__button:hover {
  background: #6caa46;
}
.window_button_title{
  font-size: 17px;
  font-weight: 700;
  color: white;
}
.window__close{
  width: 140px;
  height: 30px;
  background: #A9A8A7;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-top: 12px;
}
.window__close:hover {
  background: #757575;
}
.window_close_title{
  font-size: 17px;
  font-weight: 700;
  color: white;
}
.window__img{
  width: 200px;
  position: absolute;
  right: -20px;
  bottom: 0;
}
img {
  width: 130%;
}










